*,*::after,*::before{
    box-sizing: border-box;
    font-family: Gotham Rounded,sans-serif;
}

body{
    background-image: linear-gradient(to right , #8f45b9,#3158ac);
    overflow: hidden;
}
.clock{

    position: relative;
    height: 400px;
    width: 400px;
    background: rgb(250, 250, 240);
    border-radius: 100%;
    border: 5px solid #d267b7;
    margin : 200px;
    transform: translate(30%);
    box-shadow: 10px 10px 10px rgb(78, 76, 76);
   

}
.clock .dot {
    height: 15px;
    width: 15px;
    position: absolute;
    background: #262626;
    border-radius: 100%;
    margin: 190px;
    transform: translate(5%);
    
}
.clock .number{
    --rotation:0;
    position:absolute;
    font-size: 20px;
    width:100%;
    height: 100%;
    font-family:gloss and bloom;
    font-weight: bold;
    margin : auto;
    text-align : center;
    transform: rotateZ(var(--rotation));
    text-shadow: 5px 5px 5px rgb(99, 96, 96);
    
}
.clock .number1 { --rotation : 30deg ;}
.clock .number2 { --rotation : 60deg ;}
.clock .number3 { --rotation : 90deg ;}
.clock .number4 { --rotation : 120deg ;}
.clock .number5 { --rotation : 150deg ;}
.clock .number6 { --rotation : 180deg ;}
.clock .number7 { --rotation : 210deg ;}
.clock .number8 { --rotation : 240deg ;}
.clock .number9 { --rotation : 270deg ;}
.clock .number10 { --rotation : 300deg ;}
.clock .number11{ --rotation : 330deg ;}
.clock .number12 { --rotation : 360deg ;}

 .time {
    position:absolute;
    bottom : 50%;
    left : 50%;
    border : 1px solid white;
    transform-origin:bottom;
    transform : translate(-50%) rotate(30deg);
    box-shadow: 4px 4px 4px rgb(73, 69, 69);
}
/* animation: time 15s infinite linear; */
 .time.second{
    height: 45%;
    width:  5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
    animation: time 60s infinte linear;
}
.time.minute{
    height: 35%;
    width: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: blue;
    animation : time 3600s infinte linear;
}
.time.hour{
    height: 25%;
    width:  10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    animation : time 86400s infinte linear;
}
@keyframes time {
    to {
      transform: rotate(360deg);
    }
  }